<?php
  $CONFIG=array(
   "DBSERVER" => "localhost",
   "DBDATABASE" => "Spieleabend",
   "DBUSER" => "Spieleabend",
   "DBPASSWORD" => "Geheim",
  );
  try { $db = new PDO('mysql:host='.$CONFIG["DBSERVER"].';dbname='.$CONFIG["DBDATABASE"].';charset=utf8', $CONFIG["DBUSER"], $CONFIG["DBPASSWORD"]); } catch(Exception $e) { echo "Fehler: ".$e; exit; }
?>
